<% @comments.each do |comment| %>
  <div>
    <h1><%= comment.name %></h1><br />
    <i><%= comment.productname %></i><br />
    <p><%= comment.description %></p><br />
  </div>

  <hr />
<% end %>

