<html>
	<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans:
		400,400i,700,700i&display=swap" rel="stylesheet">

	<link
    	rel="stylesheet"
    	href="prism-atom-dark.css"
    	type="text/css"
    	media="screen"
	/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no"/>

  <script type="text/javascript" src="prism.js"></script>
  <script type="text/javascript" src="prism.ruby.js"></script>
  <script type="text/javascript" src="javascript.js"></script>

  <title>Truly Cheesecake</title>
  <meta name="description" content="If its not homemade, it's not truly a Cheesecake!">


 </head>

	<body>

		<!-- <div class="about-container">
		<ul>
		  <li><a href="#bout" class="nav-link">About</a></li>
		  <li><a href="#cheese-cakes" class="nav-link">Cheesecakes</a></li>
		  <li class="hire-me"><a href="#hire-me" class="nav-link">Want One?</a></li>
	  	</ul>

		<div class="about">

			<h1>Truly Cheesecake</h1>
			<h2>By Kimberly Johnson</h2>
			<hr class="gray"/> 
			<p class="bio">
        I make exquisite cheesecakes.
      <br />
        Want one? <a href="#hire-me" class="con-link">Contact me.</a>
      </p>
		</div>
		</div>

    <h3 class="about" id="bout">About</h3>
    <hr class="blue">

    <div class="text-center">
      <p align="center">
        I have been making cheesecakes for 5+ years.
      <br />
        My cheesecakes are unique, you can tell by the taste.
      <br />
        Please contact me by phone or email.
      <br />
        Now serving single slices at <a href="https://losamigoskitchen.com/">Los Amigos Kitchen!</a>
      </p>
    </div>

    <br class="clear" />

    <h3 id="cheese-cakes">My Creations</h3>

    <hr class="blue" />

    <p class="cheese-cakes">
      I have gotten my cakes delicousness down to a science!
      <br />
      Click on a bubble to see pictures.
    </p> -->
    <!-- Slideshow container -->
      <!-- <div class="slideshow-container">

         Full-width images with number and caption text -->
<!--         <div class="mySlides fade">
          <div class="numbertext">1 / 10</div>
          <img src="1.jpeg" style="width:100%">
          <div class="text">Mexican Chocolate Cheesecake</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">2 / 10</div>
          <img src="2.jpeg" style="width:100%">
          <div class="text">Peacan Pie</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">3 / 10</div>
          <img src="3.jpeg" style="width:100%">
          <div class="text">Vanilla Bean & Caramel Swirl Cheesecake</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">4 / 10</div>
          <img src="4.jpeg" style="width:100%">
          <div class="text">Lemon Meringue Cheesecake</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">5 / 10</div>
          <img src="5.jpeg" style="width:100%">
          <div class="text">Lemon & Cherry Swirl Cheesecake</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">6 / 10</div>
          <img src="6.jpeg" style="width:100%">
          <div class="text">Cherry & Vanilla Cheesecake</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">7 / 10</div>
          <img src="7.jpeg" style="width:100%">
          <div class="text">Boston Cream Cheesecake</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">8 / 10</div>
          <img src="8.jpeg" style="width:100%">
          <div class="text">Peeps Cheesecake</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">9 / 10</div>
          <img src="9.jpeg" style="width:100%">
          <div class="text">Traditional Cheesecake</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">10 / 10</div>
          <img src="10.jpeg" style="width:100%">
          <div class="text">Christmas Cherry & Vanilla Swirl Cheesecake</div>
        </div> -->

        <!-- Next and previous buttons -->
<!--         <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br> -->

      <!-- The dots/circles -->
<!--       <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
        <span class="dot" onclick="currentSlide(7)"></span>
        <span class="dot" onclick="currentSlide(8)"></span>
        <span class="dot" onclick="currentSlide(9)"></span>
        <span class="dot" onclick="currentSlide(10)"></span>
      </div>

    <br class="clear" />



    <br class="clear" />		

  	<div class="contact-me" id="hire-me" />

  		<h3 class="contact-headline">Contact</h3>
  		<hr class="blue" />
  		<p class="contact-info">
          Currently entertaining new opportunities.
          Please get in touch via email or phone:
        	</p>

        	<p>
          <a href="mailto:my@email.com" class="contact-link">
            ki.johnson711.0@gmail.com
          </a>
          <br />
          <p class="contact-link">Telephone: 720-629-6711</p>
      </p>

      <br class ="clear"/> -->

    </div>
    
	</body>

</html>